{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel='stylesheet prefetch'  href="{% static 'vendor/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Package List{% endblock %}

{% block breadcrumb %}
     <li class="breadcrumb-item active">Package List</li>
{% endblock %}

{% block content %}
<hr>
<div class="container">
    <div class="row">
    {% for pack in packages %}
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ pack.name }}</h5>
             <h6 class="text-muted">{{ pack.get_duration_display }}</h6>
            <p class="card-text">{{ pack.description }}.</p>
            <a href="{% url 'package:purchase' pack.pk %}" class="btn btn-outline-primary">Buy</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
