{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Purchase Package{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
      <a href="{% url 'package:list' %}">Package List</a>
    </li>
    <li class="breadcrumb-item active">Package purchase</li>
{% endblock %}

{% block content %}
    You have chosen {{ package.name }}.
    <div class="container">
        {{ terms|safe }}
    </div>


    <form class="form-horizontal" method="post" action="{% url 'package:purchase' package.pk %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-outline-dark">
    </form>
{% endblock %}

