{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form class="form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}