{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Registration{% endblock %}

{% block content %}
<h2>Registration</h2>

<div class="container">
    <form class="form" action="." method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

{% endblock %}
