{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} | SLICE Analytica</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/default.css' %}" rel="stylesheet">

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.easing.min.js' %}"></script>
    {% block css %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>

<body class="fixed-nav sticky-footer bg-dark {% block toggled_state %}{% endblock %}" id="page-top">
  <!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'user_home' %}">DataVis</a>
    {% else %}
        <a class="navbar-brand" href="{% url 'home' %}">DataVis</a>
    {% endif %}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">  
       {% include 'components/sidebar.html' %}
       {% include 'components/nav.html' %}
    </div>
</nav>



<div class="content-wrapper">
  <div class="container-fluid">
      {% if request.user.is_authenticated %}
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'dashboard:home' %}">Dashboard</a>
            </li>
          {% block breadcrumb %}{% endblock %}
          </ol>
      {% endif %}

      <div class="offset-2 col-8">
          {% if messages %}
              {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }} alert-dismissible{% endif %}">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      </div>

      {% block content %}{% endblock %}
  </div>

</div>


  {% include 'components/footer.html' %}
    
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  {% include 'components/modal_logout.html' %}
{##}
{#  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>#}
{#  <script src="{% static 'vendor/jquery/jquery.easing.min.js' %}"></script>#}
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/sb-admin.min.js' %}"></script>
  {% block extra_javascript %}{% endblock %}

</body>

</html>
