{% extends "base.html" %}
{% load static i18n %}
{% block title %}My Charts{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'users:detail' username %}">My profile</a>
  </li>
  <li class="breadcrumb-item active">Chart Detail</li>
{% endblock %}


{% block content %}
<div class="container">
    <h2>{% if request.user.username == username %}My Charts
        {% else %}Charts for {{ username }}
        {% endif %}
    </h2>
    <hr>
    <div class="list-group">
        {% for chart in charts %}
            <a href="{% url 'dashboard:chart_detail' chart.pk %}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ chart.name }}</h4>
             </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
