{% extends 'base.html'%}

{% block content %}
    <h1>List of DBs for {{ username }}</h1>
    <div class="container">
        {% for db in dbs %}
            <ol>
                <li><a href="{% url 'connection:db_detail' db.pk %}">{{ db.DB_name }}</a></li>
            </ol>
        {% endfor %}
    </div>
{% endblock %}
