{% load static %}

<footer class="app-footer">
  <div>
    <a href="#">SLICE Analytica</a>
    <span>&copy; 2018 creativeLabs.</span>
  </div>
  <div class="ml-auto">
    <span>Powered by</span>
    <a href="https://coreui.io">CoreUI</a>
  </div>
</footer>