{% load static %}

<div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:home' %}">
            <i class="nav-icon icon-speedometer"></i> Dashboard
            <span class="badge badge-primary">NEW</span>
          </a>
        </li>
        <li class="nav-title">Items</li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:dash' %}">
            <i class="nav-icon icon-clock"></i> Dashboard2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:timeline' %}">
            <i class="nav-icon icon-clock"></i> Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'connection:type_select' %}">
            <i class="nav-icon icon-plus"></i> Add Connection</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:user_chart_list' request.user.username %}">
                <i class="nav-icon icon-pie-chart"></i> My Charts</a>
            </li>
        {% endif %}
      {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">
            <i class="nav-icon icon-drop"></i> About</a>
        </li>
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
