{% extends "base.html" %}
{% block toggled_state %}sidenav-toggled{% endblock %}

{% block title %}Home{% endblock %}


{% block content %}
  <div class="container">
    <div class="jumbotron bg-info text-white" >
      <h1 class="display-3">dataVis!</h1>
      <p class="lead">blah blah blah.</p>
      <hr class="my-4">
      <p>Want to know more?.</p>
      <p class="lead">
        <a class="btn btn-outline btn-danger" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
{% endblock %}
