{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Add Connection{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">Add Connection</li>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Add a data source connection </h1>

    <div class="container">
        <form class="form-horizontal col-md-4 offset-md-3" action="{% url 'connection:create' type %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn btn-outline-primary"  data-toggle="modal" data-target="#tncModal">Add</a>

{#            #}
<div class="modal fade" id="tncModal" tabindex="-1" role="dialog" aria-labelledby="tncModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tncModalLabel">Terms and Conditions</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {{ terms|safe }}
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-outline-primary" value="Add">
      </div>
    </div>
  </div>
</div>
{#            #}

        </form>
    </div>
</div>



{% endblock %}
