{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/card_style.css' %}">
{% endblock %}

{% block title %}Connection Detail {% endblock %}

{% block breadcrumb %}
{#    <li class="breadcrumb-item">#}
{#      <a href="{% url 'connection:list' %}">Connection List</a>#}
{#    </li>#}
    <li class="breadcrumb-item active">Connection detail</li>
{% endblock %}


{% block content %}
<div class="row">

    <div class="row col-8">
        <div class=" col-md-6">
            <div class="card border-primary mb-3">
              <div class="card-header">Connection: {{ con.name }}</div>
              <div class="card-body">
              {% with con.type as type %}
                <ul class="card-text">
                    <li>type: {{ type }}</li>
                {% if type != 'csv' and type != 'excel' and type != 'sqlite' %}
                    <li>username: {{ con.username }}</li>
                    <li>hostname: {{ con.hostname }}</li>
                    <li>port: {{ con.port }}</li>
                {% endif %}
                    {% if con.is_valid %}
                        <li><span style="color: blue">database connection validated</span></li>
                    {% else %}
                        <li><span style="color: red">database connection is invalid</span></li>
                    {% endif %}
                    <li>Added on: {{ con.timestamp }}</li>
                    <li>Modified on: {{ con.updated }}</li>
                </ul>
              {% endwith %}
                <a class="btn btn-outline-primary" href="{% url 'connection:update' con.pk %}" role="button">Edit</a>
              </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-primary mb-3">
              <div class="card-header">Available Tables</div>
              <div class="card-body">
                <form class="card-text" method="post" action="{% url 'connection:table_add' con.id %}">
                    {% csrf_token %}
                    {{ unloaded_tables_form|crispy }}
                    <input type="submit" name="load" value="Load" class="btn btn-outline-primary">
                </form>
              </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-primary mb-3">
              <div class="card-header">Loaded Tables</div>
              <div class="card-body">
                <form class="card-text" method="post" action="{% url 'connection:loaded_tables' con.id %}">
                    {% csrf_token %}
                    {{ loaded_tables_form|crispy }}

                    <div class="btn-group" role="group" aria-label="">
                        <input type="submit" name="details" value="Details" class="btn btn-outline-primary">
                        <input type="submit" name="remove" value="Remove" class="btn btn-outline-danger">
                        <input type="submit" name="clear" value="Clear" class="btn btn-outline-danger">
                    </div>
                    {% if request.user.is_staff %}
                        <hr>
                        <div class="btn-group" role="group" aria-label="">
                            <input type="submit" name="analyse" value="Analyse" class="btn btn-outline-success">
                            <input type="submit" name="load+" value="Load+" class="btn btn-outline-success">
                            <input type="submit" name="chart_create" value="Add Chart" class="btn btn-outline-success">
                        </div>
                    {% endif %}
                </form>
              </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-primary mb-3">
          <div class="card-header">Manual table selection    *EXPERIMENTAL</div>
          <div class="card-body">
            <form class="card-text" method="post" action="{% url 'connection:table_sql_add' con.id %}">
                {% csrf_token %}
                {{ sqlform|crispy }}
                <input type="submit" value="Execute" class="btn btn-outline-success">
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock %}
