{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'connection:detail' tb.source_db_id %}">Connection detail</a>
  </li>
  <li class="breadcrumb-item active">Output</li>
{% endblock %}

{% block content %}

{% if table_html is None %}
    Something went wrong
{% else %}
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> {{ name|capfirst }} table {% if request.user.is_staff %}in {{ tb.state }}DB{% endif %}
        </div>
        <div class="card-body">
           <div class="table-responsive">
               {{ table_html|safe }}
           </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'vendor/datatables-responsive/js/dataTables.responsive.js' %}"></script>
    <script src="{% static 'js/sb-admin-datatables.min.js' %} "></script>
{% endblock %}








