{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block css %}
{#    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">#}
{#    <link rel='stylesheet prefetch'  href="{% static 'vendor/animate/animate.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/card_style.css' %}">
{% endblock %}

{% block title %}Select Database Source Type{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">Select Database Source Type</li>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <article class="card animated fadeInUp">
        <div class="card-header bg-transparent">
          <h4 class="card-title">Database</h4>
          <h6 class="text-muted">...</h6>
        </div>
        <img class="img-fluid" src="{% static 'img/externaldb.png' %}" alt="Externaldb" style="height: 15em;"/>
        <div class="card-body">
          <p class="card-text">blah blah blah
          </p>
        </div>
        <div class="card-footer text-center bg-transparent">
          <div class="btn-group hidden-sm-down hidden-md-down" role="group" aria-label="Card buttons">
            <a href="{% url 'connection:create' 'externaldb' %}" class="btn btn-outline-primary">Add</a>
            <a href="#" class="btn btn-outline-primary">Read more</a>
          </div>
        </div>
      </article>
    </div>

    <div class="col-xs-12 col-md-4">
      <article class="card animated fadeInUp">
        <div class="card-header bg-transparent">
          <h4 class="card-title">Upload a database</h4>
          <h6 class="text-muted">...</h6>
        </div>
        <img class="img-fluid" src="{% static 'img/flatfile.png' %}" alt="Flat files" style="height: 15em;"/>
        <div class="card-body">
          <p class="card-text">blah blah blah
          </p>
        </div>
        <div class="card-footer text-center bg-transparent">
          <div class="btn-group hidden-sm-down hidden-md-down" role="group" aria-label="Card buttons">
            <a href="{% url 'connection:create' 'flatfile' %}" class="btn btn-outline-primary">Add</a>
            <a href="#" class="btn btn-outline-primary">Read more</a>
          </div>
        </div>
      </article>
    </div>

    <div class="col-xs-12 col-md-4">
      <article class="card animated fadeInUp">
        <div class="card-header bg-transparent">
          <h4 class="card-title">Remote file,log etc.</h4>
          <h6 class="text-muted">...</h6>
        </div>
        <img class="img-fluid" src="{% static 'img/flatfile.png' %}" alt="Remote File"  style="height: 15em;"/>
        <div class="card-body">
          <p class="card-text">Coming soon
          </p>
        </div>
        <div class="card-footer text-center bg-transparent">
          <div class="btn-group hidden-sm-down hidden-md-down" role="group" aria-label="Card buttons">
            <a href="{% url 'connection:create' 'remote' %}" class="btn btn-outline-primary">Add</a>
            <a href="#" class="btn btn-outline-primary">Read more</a>
          </div>
        </div>
      </article>
    </div>

  </div>
</div>

<hr>

{% endblock %}


























