{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}{{ con.name }}{% endblock %}

{% block content %}
    <div class="container">
      <h1>Connection: {{ con.name }}</h1>
      <form class="form-horizontal col-md-4 offset-md-3" method="post" action="{% url 'connection:update' con.pk %}"
            enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-outline-primary" value="Update">
      </form>
    </div>
{% endblock %}
