{% extends 'base.html' %}
{% load static %}
{% load chartkick %}


{% block javascript %}
    <script src="{% static 'vendor/chartkick/chartkick.js' %}"></script>
    <script src="{% static 'vendor/Chart.js/Chart.bundle.min.js' %}"></script>
{% endblock %}


{% block content %}
  {% for d in data %}
      {% line_chart d %}
  {% endfor %}
{% endblock %}

{#        {% line_chart exchange with min=0.4 id='rates' %}#}
{#        {% pie_chart browser_stats with library={"title":"Browser Statistics, May 2013"} %}#}
{#        {% column_chart browser_stats %}#}
{#        {% line_chart temperature with id='temperature' %}#}
{#        {% bar_chart sizes with id='sizes' %}#}
{#        {% area_chart areas with id='areas' %}#}