    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post" action="{% url 'login' %}" >
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password"
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% endif %}

                <input type="submit" value="Login"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>



{% load widget_tweaks %}

<div id="login" class="container col-md-4">
    <form method="post" action="" class="form-signin">
        <div class="text-center mb-4">
              <img class="mb-4" src=""  alt="" width="72" height="72">
              <h1 class=" mb-3 font-weight-normal">Login</h1>
        </div>
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control'}}
        </div> <hr>
        {% endfor %}

        <button class="btn btn-block btn-outline-success btn-lg " type="submit">Login</button>
    </form>
</div>
