{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}


{% block content %}
<div class="container mt-5">
      <form class="form-horizontal" role="form" method="POST" action="{% url 'account_login'%}">
          {% csrf_token %}
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                  <h2>Login</h2>
                  <hr>
              </div>
          </div>

          <div class="offset-3 col-md-6">
              <div class="form-group has-danger">
                  <label class="sr-only" for="email">{{form.username.label_tag}}</label>

                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                       <div class="input-group-prepend">
                           <div class="input-group-text" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                       </div>
                       <input type="text" name="username" class="form-control" id="username" placeholder="Username" required autofocus>
                  </div>
              </div>
          </div>

          <div class="offset-3 col-md-6">
              <div class="form-group">
                  <label class="sr-only" for="password">{{form.password.label_tag}}</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-prepend">
                          <div class="input-group-text" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                      </div>
                       <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                  </div>
              </div>
          </div>

          <div class="offset-3 col-md-3">
              <div class="form-control-feedback">
                  <span class="text-danger align-middle">
                    {% if form.errors %}
                        <p class=" label label-danger">
                            Your username and password didn't match.
                            Please try again.
                        </p>
                    {% endif %}
                  </span>
              </div>
          </div>

          <div class="offset-3 col-md-6" style="padding-top: 1rem">
              <button type="submit" class="btn btn-outline-success"><i class="fa fa-sign-in"></i> Login</button>
              <a class="btn btn-link" href="#">Forgot password</a>
          </div>
      </form>
  </div>
{% endblock %}
