<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
{% if request.user.is_authenticated %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
      <a class="nav-link" href="{% url 'dashboard:home' %}">
        <i class="fa fa-fw fa-dashboard"></i>
        <span class="nav-link-text">Dashboard</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Timeline">
      <a class="nav-link" href="{% url 'dashboard:timeline' %}">
        <i class="fa fa-fw fa-eye"></i>
        <span class="nav-link-text">Timeline</span>
      </a>
    </li>
{#    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">#}
{#      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#charts" data-parent="#exampleAccordion">#}
{#        <i class="fa fa-fw fa-area-chart"></i>#}
{#        <span class="nav-link-text">...</span>#}
{#      </a>#}
{#      <ul class="sidenav-second-level collapse" id="charts">#}
{#        <li>#}
{#          <a href="#">1</a>#}
{#        </li>#}
{#        <li>#}
{#          <a href="#">2</a>#}
{#        </li>#}
{#      </ul>#}
{#    </li>#}

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Connection">
      <a class="nav-link" href="{% url 'connection:type_select' %}">
        <i class="fa fa-fw fa-plus-circle"></i>
        <span class="nav-link-text">Add Connection</span>
      </a>
    </li>
    {% if request.user.is_staff %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="{% url 'chart:user_chart_list' request.user.username %}">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">My Charts</span>
          </a>
        </li>
    {% endif %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Plots">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-bar-chart"></i>
        <span class="nav-link-text">Plots</span>
      </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Client">
      <a class="nav-link" href="/client/">
        <i class="fa fa-fw fa-plus-circle"></i>
        <span class="nav-link-text">Client</span>
      </a>
    </li>
{% endif %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="About">
      <a class="nav-link" href="{% url 'about' %}">
        <i class="fa fa-fw fa-android"></i>
        <span class="nav-link-text">About</span>
      </a>
    </li>
</ul>

<ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
      <a class="nav-link text-center" id="sidenavToggler">
        <i class="fa fa-fw fa-angle-left"></i>
      </a>
    </li>
</ul>
