{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Update Chart{% endblock %}

{% block breadcrumb %}
{#    <li class="breadcrumb-item">#}
{#      <a href="{% url 'connection:list' %}">Connection List</a>#}
{#    </li>#}
    <li class="breadcrumb-item active">
      <a href="{% url 'connection:detail' con_pk %}">Connection Detail</a>
    </li>
    <li class="breadcrumb-item active">Update Chart</li>
{% endblock %}


{% block content %}
    <div class="container">
        <form class="form-horizontal col-md-4 offset-md-3" method="post" action="{% url 'dashboard:update' pk %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-outline-primary" value="Update">
        </form>
    </div>
{% endblock %}