{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Add Chart{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
      <a href="#">Connection List</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="{% url 'connection:detail' con_pk %}">Connection Detail</a>
    </li>
    <li class="breadcrumb-item active">Add Chart</li>
{% endblock %}


{% block content %}
    <div class="container">
        <form class="form-horizontal col-md-4 offset-md-3" method="post" action="{% url 'dashboard:create' tb_pk %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-outline-primary" value="Add">
        </form>
    </div>
{% endblock %}