{% extends 'base.html' %}
{% load jchart %}
{% load static %}

{% block javascript %}
    <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'node_modules/@coreui/plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js' %}"></script>
   {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
{#    TODO: user_chart_list is not accurate, we also need connection_chart_list#}
    <a href="{% url 'dashboard:user_chart_list' request.user.username %}">Configure Charts</a>
  </li>
  <li class="breadcrumb-item active">Chart Detail</li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-8">
        <div class="card border-danger" >
          <div class="card-body">
            {{ chart.as_html }}
          </div>
          <div class="card-footer text-white text-center bg-dark border-danger">
            updated at {{ updated|timesince }}
          </div>
        </div>
    </div>

    <div class=" col-lg-4">
        <div class="card border-danger" >
          <div class="card-body">
            <p class="card-text"></p>
            <ul>
              <li class="list-group-item">
                  average:
              </li>
              <li class="list-group-item">
                  range:
              </li>
              <li class="list-group-item">
                  three:
              </li>
              <li class="list-group-item">
                  four:
              </li>
              <li class="list-group-item">
                  five:
              </li>
              <li class="list-group-item">
                  six:
              </li>
              <li class="list-group-item">
                  seven:
              </li>
            </ul>
          </div>
          <div class="card-header text-white text-center bg-info border-info">
            statistics
          </div>
        </div>
    </div>
  </div>
{% endblock %}
