{% extends 'base.html' %}
{% block title %}Chart List{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Charts</li>
{% endblock %}

{% block content %}
<h2>{% if request.user.username == username %}My Charts
    {% else %}Charts for {{ username }}
    {% endif %}
</h2>
<hr>
<div class="row container">
    {% for chart in charts %}
        <div class="card border-info mb-3" style="max-width: 20rem;">
          <div class="card-header bg-transparent border-info">
              <h5>{{ chart.name }} DB</h5>
          </div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    From table: {{ chart.table.name }} in DB: {{ chart.table.source_db.DB_name }}
                </li>
                <li class="list-group-item">
                    {{ chart.type|capfirst }} chart
                </li>
                <li class="list-group-item">
                    x-data: {{ chart.column_x }},
                    y-data: {{ chart.column_y }}
                </li>
                <li class="list-group-item">Added on {{ chart.timestamp }}</li>
            </ul>
          </div>
          <div class="card-footer bg-transparent border-info">
              <div class="btn-group" role="group" aria-label="">
                <a role="button" class="btn btn-outline-primary" href="{% url 'dashboard:detail' chart.pk %}">View</a>
                <a role="button" class="btn btn-outline-primary" href="{% url 'dashboard:update' chart.pk %}">Change</a>
                <a role="button" class="btn btn-outline-danger" href="{% url 'dashboard:delete' chart.pk %}">Delete</a>
              </div>
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
