{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block breadcrumb %}<li class="breadcrumb-item active">My Dashboard</li>{% endblock %}
{% block javascript %}
{#    <script src="{% static "vendor/Chart.js/Chart.bundle.min.js" %}"></script>#}
    <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'node_modules/@coreui/plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js' %}"></script>
    <script src="{% static "vendors/smoothie/smoothie.js" %}"></script>
    <script src="{% static "vendors/palette.js/palette.js" %}"></script>
    <script src="{% static "channels/js/websocketbridge.js" %}"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-comments"></i>
          </div>
          <div class="mr-5"><span id="messages">0</span> New Messages!</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-list"></i>
          </div>
          <div class="mr-5"><span id="tasks">0</span> New Tasks!</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-shopping-cart"></i>
          </div>
          <div class="mr-5"><span id="orders">0</span> New Orders!</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-support"></i>
          </div>
          <div class="mr-5"><span id="tickets">0</span> New Tickets!</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="#">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
</div>
 
<div class="row">
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-line-chart"></i> Chart</div>
        <div class="card-body">
          <canvas id="chart-1" width="100%" ></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> Chart</div>
        <div class="card-body">
          <canvas id="chart-2" width="100%"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-pie-chart"></i> Chart</div>
        <div class="card-body">
          <canvas id="chart-3" width="365%"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> Chart
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8 my-auto">
              <canvas id="chart-4" width="100%" height="50"></canvas>
            </div>
            <div class="col-sm-4 text-center my-auto">
              <div class="h4 mb-0 text-primary">$34,693</div>
              <div class="small text-muted">YTD Revenue</div>
              <hr>
              <div class="h4 mb-0 text-warning">$18,474</div>
              <div class="small text-muted">YTD Expenses</div>
              <hr>
              <div class="h4 mb-0 text-success">$16,219</div>
              <div class="small text-muted">YTD Margin</div>
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
   <script src="{% static "js/realtime.js" %}"></script>
{% endblock %}
