{% extends "base.html" %}
{% load static %}
{% block title %}Live Chart{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'node_modules/@coreui/plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js' %}"></script>
    <script src="{% static 'js/live_chart.js' %}"></script>
{% endblock %}

{% block content %}

<div class='row my-5'>
    <div class='col-12'>
        <h1>Live Charts</h1>
    </div>
</div>

<hr/>

<div class='row'>
    <div class="col-md-6">
        <div class="card border-danger" >
          <div class="card-body">
            <canvas class='live-chart' id="chart-1" data-type={{ pk }}  width="400" height="400"></canvas>
          </div>
          <div class="card-footer text-white text-center bg-dark border-danger">
            updated at {{ updated|timesince }}
          </div>
        </div>
    </div>
</div>

<hr>

{% endblock %}