{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<div class="row">
  <div class="col-sm-7">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
    <a class="btn btn-primary" href="{% url 'package:list' %}" role="button">Buy package</a>
    <a class="btn btn-primary" href="{% url 'dashboard:user_chart_list' request.user.username %}" role="button">My Charts</a>
    <a class="btn btn-primary" href="{% url 'connection:type_select' %}" role="button">Add Connections</a>
  </div>
  {% if request.user.is_staff %}
      <div class="col-sm-4">
        <a class="btn btn-success" href="{% url 'users:list' %}" role="button">Users</a>
        <a class="btn btn-success" href="#" role="button">..</a>
      </div>
  {% endif %}
</div>

{% endif %}

<hr>

<div class="row">
    {% for con in cons %}
        <div class="card border-info mb-3" style="max-width: 17rem;">
          <div class="card-header bg-transparent border-info">
              <h5>{{ con.name }} Connection</h5>
          </div>
          <div class="card-body text-dark">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">connected from {{ con.hostname }}</li>
                {% if con.is_valid %}
                    <li class="list-group-item" style="color: blue"> connection validated </li>
                {% else %}
                    <li class="list-group-item" style="color: red"> connection is invalid</li>
                {% endif %}
                    <li class="list-group-item">Added on {{ con.timestamp }}</li>
            </ul>
          </div>
          <div class="card-footer bg-transparent border-info">
              <div class="btn-group" role="group" aria-label="">
                <a role="button" class="btn btn-outline-primary" href="{% url 'connection:detail' con.pk %}">View</a>
                <a role="button" class="btn btn-outline-danger" href="{% url 'connection:delete' con.pk %}">Delete</a>
                <a role="button" class="btn btn-outline-success" href="{% url 'dashboard:connection_chart_list' con.pk %}">Charts</a>
              </div>
          </div>
        </div>
    {% endfor %}
</div>

</div>
{% endblock content %}

