{% extends "base.html" %}
{% load static i18n %}
{% block title %}Users{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Users</li>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Customers</h2>
    <hr>

    <div class="list-group col-md-4">
    {% for user in user_list %}
      <a href="{% url 'users:detail' user.username %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ user.username }}</h4>
      </a>
    {% endfor %}
    </div>
</div>
{% endblock %}
